# Ganze Ordner komplett ignorieren
/certbot/
/data/
/jenkins_home/

# Oder alternativ (relativer Pfad)
certbot/
data/
jenkins_home/

kuma_data
kuma_data/ 
/kuma_data/


letsencrypt

# .env Datei
.env
*.htpasswd
martin.htpasswd
wasm